<!DOCTYPE html>
<html>

<head>
    <title>Okaidi Auto Sales</title>
    <link rel="stylesheet" href="../CSS templates/AdminPageStyle.css" />
    <script src="../JS/authenticated.js"></script>

</head>

<body>
    <div class="image-box">
        <a href="Homepage.ejs">
            <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
        </a>
    </div>
    <div class="navi">
        <div class="navi-centered">
            <nav id="navbar">
                <div class="nav-menu">
                    <div class="nav-text">
                        <h3 class="nav-text-logo">OKAIDI AUTO SALES</h3>
                        <div class="nav-toggle" id="navToggle">
                            <img class="navIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconHambMenu.png"
                                alt="hamburger menu" width="25px" id="hamburger">
                            <img class="navIcon hiddenNavIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconClose.png"
                                alt="close hamburger" width="25px">
                        </div>
                    </div>
                    <div class="navList" id="navShow">
                        <ul class="ulForDir">
                            <li><a href="Homepage.ejs">Home</a></li>
                            <li><a href="Search.ejs">Search</a></li>
                            <li><a href="Aboutus.ejs">About Us</a></li>
                            <li><a href="ContactUs.ejs">Contact Us</a></li>
                            <li><a href="ApplyNow.ejs">Apply Now</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
            Find your next car at Okaidi Auto Sales in Sacramento, CA
        </div>
    </div>
    <div class="body-main">
        <div class="buttons-box">
            <div class="emp-add">
                <a class="button-top" href="RegisterUser.ejs">Add New Employee</a>
            </div>
        </div>
        <div class="emp-body">
            <div class="emp-table-title">
                Table of employees
            </div>
            <div class="emp-table" id="empTable">
                <div class="emp-table-row-fixed">
                    <div class="emp-table-fixed">
                        Name
                    </div>
                    <div class="emp-table-fixed">
                        Phone
                    </div>
                    <div class="emp-table-fixed">
                        Email
                    </div>
                    <div class="emp-table-fixed">
                        User
                    </div>
                    <div class="emp-table-fixed">
                        Role
                    </div>
                    <div class="emp-table-fixed">
                        Edit
                    </div>
                </div>
               <% var arrPhoneIndx=[]; %>
                <% var arrPhoneNum=[]; %>
                <% for(let y=0; y < phoneItems.length; y++){ %>
                    <% foundPhone=0; %>
                    <% tempPhone=phoneItems[y].Emp_ID; %>
                    <% tempPhoneNum=phoneItems[y].Emp_Phone; %>
                    <% for(let x=0; x < arrPhoneIndx.length; x++){ %>
                        <% if(arrPhoneIndx[x]==tempPhone){foundPhone=1; break;} %>
                    <% } if(foundPhone==0){arrPhoneIndx.push(tempPhone); arrPhoneNum.push(tempPhoneNum);} %>
                <% } %>

                <% var arrEmailIndx=[]; %>
                <% var arrEmailAddr=[]; %>
                <% for(let y=0; y < emailsItems.length; y++){ %>
                    <% foundEmail=0; %>
                    <% tempEmail=emailsItems[y].Emp_ID; %>
                    <% tempEmailAddr=emailsItems[y].Emp_Email; %>
                    <% for(let x=0; x < arrEmailIndx.length; x++){ %>
                        <% if(arrEmailIndx[x]==tempEmail){foundEmail=1; break;} %>
                    <% } if(foundEmail==0){arrEmailIndx.push(tempEmail); arrEmailAddr.push(tempEmailAddr);} %>
                <% } %>
                <% employeeItems.forEach(function(empl){ %>
                <div class="emp-table-row">
                    <div class="emp-table-name">
                        <%= empl.Emp_FirstName %> <%= empl.Emp_LastName %> 
                    </div>
                    <div class="emp-table-phone">
                        <% for(let y=0; y < arrPhoneIndx.length; y++){ %>
                            <% if(empl.Emp_ID == arrPhoneIndx[y]){ %>
                                <%= arrPhoneNum[y] %>
                                <% break; }} %>
                    </div>
                    <div class="emp-table-email">
                        <% for(let y=0; y < arrEmailIndx.length; y++){ %>
                            <% if(empl.Emp_ID==arrEmailIndx[y]){ %>
                                <%= arrEmailAddr[y] %>
                                <% break; }} %>
                    </div>
                    <div class="emp-table-user">
                        <%= empl.Emp_Username %>
                    </div>
                    <div class="emp-table-role">
                        <%= empl.Emp_Role %>
                    </div>
                    <div class="emp-table-button">
                        <form action="/AdminEditPage.ejs" method="GET"> 
                            <input type="hidden" id="empID" name="Emp_ID" value="<%= empl.Emp_ID %>">
                            <input class="emp-table-row-button" type="submit" value="Edit">
                        </form>
                        <button class="button2" onclick="deleteEmp(<%= empl.Emp_ID %>)">Delete</button>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer">
        <div class="foot-flex">
        <div class="footer-section">
            <div class="footer-facebook-box">
                <a href="https://www.facebook.com/OkaidiAutoSalesLLC">
                    <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/facebook_icon.png" width="40px" height="40px">
                </a>
            </div>
            <br><font size=+2>1941 El Camino Ave,</font>
            <br> SACRAMENTO, CA 95815
            <br> 916-750-9099
        </div>
        <div class="footer-section-img"><img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" 
            alt="logo">
        </div>
        <div class="footer-section-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.741311338998!2d-121.40302578486073!3d38.60882397961626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada2b44205a41%3A0x6140aa8f54eec0e9!2sOKAIDI%20AUTO%20SALES!5e0!3m2!1sen!2sus!4v1651356145025!5m2!1sen!2sus" 
             style="border:red;border-width:1pt 1pt 1pt 1pt;border-style: solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div> 
        </div>
        <hr class="footer-hr">
        <div class="footer-end">
            <div class="bottom">
                <a href="Login.ejs"><u>Dealer Login</u></a>
                <br>
            </div>
        </div>
    </div>
    
    <script>
        var navbar = document.getElementById("navbar");
        window.onscroll = function(){
            if(window.pageYOffset > navbar.offsetTop){
                navbar.classList.add("sticky");
            }
            else{
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script>
        const navToggle = document.querySelector('#navToggle');
        const navl = document.querySelector('#navShow');
        const navIcon = document.querySelectorAll('.navIcon');
        const hamburger = document.querySelector('#hamburger');

        navToggle.addEventListener("click", () => {
            navl.classList.toggle("openNav")
            navIcon.forEach(icon => {
                icon.classList.toggle("hiddenNavIcon");
            })
        });

        window.addEventListener("resize", () => {
            if (document.body.clientWidth > 720) {
                navl.classList.remove("openNav");
                navIcon.forEach(icon => {
                    icon.classList.add("hiddenNavIcon")
                });
                hamburger.classList.remove("hiddenNavIcon");
            }
        });  
    </script>

    <script>

        function deleteEmp(Emp_ID) {
            let text = "Delete this employee?";
            if (confirm(text) == true) {
                var xhttpPhone = new XMLHttpRequest();
                xhttpPhone.open("DELETE", "/phone?Emp_ID=" + Emp_ID);
                xhttpPhone.send();
                setTimeout(function(){
                    var xhttpEmail = new XMLHttpRequest();
                    xhttpEmail.open("DELETE", "/email?Emp_ID=" + Emp_ID);
                    xhttpEmail.send();
                    setTimeout(function(){
                        var xhttpEmp = new XMLHttpRequest();
                        xhttpEmp.open("DELETE", "/employee?Emp_ID=" + Emp_ID);
                        xhttpEmp.send();
                        setTimeout(function(){
                            window.location.reload(true);
                        }, 250);
                    }, 250);
                }, 250);
            }
        }
    </script>
</body>

</html>
