<!--Contact Us-->
<!DOCTYPE html>
<html>

<head>
    <title>Okaidi Auto Sales</title>
    <link rel="stylesheet" href="../CSS templates/AdminEditPageStyle.css" />
</head>

<body>
    <div class="image-box">
        <a href="Homepage.ejs">
            <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
        </a>
    </div>
    <div class="navi">
        <div class="navi-centered">
            <nav id="navbar">
                <div class="nav-menu">
                    <div class="nav-text">
                        <h3 class="nav-text-logo">OKAIDI AUTO SALES</h3>
                        <div class="nav-toggle" id="navToggle">
                            <img class="navIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconHambMenu.png"
                                alt="hamburger menu" width="25px" id="hamburger">
                            <img class="navIcon hiddenNavIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconClose.png"
                                alt="close hamburger" width="25px">
                        </div>
                    </div>
                    <div class="navList" id="navShow">
                        <ul class="ulForDir">
                            <li><a href="Homepage.ejs">Home</a></li>
                            <li><a href="Search.ejs">Search</a></li>
                            <li><a href="Aboutus.ejs">About Us</a></li>
                            <li><a href="ContactUs.ejs">Contact Us</a></li>
                            <li><a href="ApplyNow.ejs">Apply Now</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
            Find your next car at Okaidi Auto Sales in Sacramento, CA
        </div>
    </div>
    <div class="body-main">
        <div class="conBox">
        <div class="container">
            <div class="f-name-table-box">
            <div class="f-name-table">
                <div class="fname-table-wrapper">
                    <input type="hidden" id="empIDIn" value="<%= employeeItems.Emp_ID %>">
                    <label for="fnameIn">First name:</label>
                    <input type="text" id="fnameIn" placeholder="Change first name..." value="<%= employeeItems.Emp_FirstName %>" required><br>
                    <label for="lnameIn">Last name:</label>
                    <input type="text" id="lnameIn" placeholder="Change last name..." value="<%= employeeItems.Emp_LastName %>" required><br>
                    <label for="roleIn">Role:</label>
                    <select id="roleIn">
                        <option value="<%= employeeItems.Emp_Role %>">Current Role</option>
                        <option value="Employee">Employee</option>
                        <option value="Admin">Admin</option>
                    </select><br>
                    <button class="pass-change-button" onclick="updateEmpInfo()">Save Changes</button>
		        </div>

                <div class="f-name-fieled fname-table-wrapper2">
                    <div class="f-name-label">
                        <label for="lname">Password:</label>
                    </div>
                    <a href="/ChangePassword.ejs">
                    <button class="pass-change-button">Change Employee Password</button>
                    </a>
                </div>
                
            </div>
            </div>
            <div class="f-table-phone">
                <div class="phone-field">

                    <div class="phone-title">Phone(s):</div>
                    <div class="phone-table">
                        <% phoneItems.forEach(function(phone){%>
                            <div class="phone-item"><%= phone.Emp_Phone %></div>
                        <% }); %>
                    </div>
                    <div class="phone-add">Type Phone:</div>
                    <input type="text" id="phoneIn" placeholder="Enter Phone..." required><br>
                    <button class="pass-change-button" onclick="addEmpPhone()">Add Phone</button>
                    <button class="pass-change-button" onclick="deleteEmpPhone()">Delete Phone</button>

                </div>
            </div>
            <div class="f-table-email">
                <div class="email-field">

                    <div class="email-title">Email(s):</div>
                    <div class="email-table">
                        <% emailsItems.forEach(function(email){%>
                            <div class="email-item"><%= email.Emp_Email %></div>
                        <% }); %>
                    </div>
                    <div class="email-add">Type Email:</div>
                    <input type="text" id="emailIn" placeholder="Enter Email..." required><br>
                    <button class="pass-change-button" onclick="addEmpEmail()">Add Email</button>
                    <button class="pass-change-button" onclick="deleteEmpEmail()">Delete Email</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot-flex">
        <div class="footer-section">
            <div class="footer-facebook-box">
                <a href="https://www.facebook.com/OkaidiAutoSalesLLC">
                    <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/facebook_icon.png" width="40px" height="40px">
                </a>
            </div>
            <br><font size=+2>1941 El Camino Ave,</font>
            <br> SACRAMENTO, CA 95815
            <br> 916-750-9099
        </div>
        <div class="footer-section-img"><img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" 
            alt="logo">
        </div>
        <div class="footer-section-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.741311338998!2d-121.40302578486073!3d38.60882397961626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada2b44205a41%3A0x6140aa8f54eec0e9!2sOKAIDI%20AUTO%20SALES!5e0!3m2!1sen!2sus!4v1651356145025!5m2!1sen!2sus" 
             style="border:red;border-width:1pt 1pt 1pt 1pt;border-style: solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div> 
	    </div>
        <hr class="footer-hr">
        <div class="footer-end">
            <div class="bottom">
                <a href="LandingPage.ejs"><u>Dealer Login</u></a>
                <br>
            </div>
        </div>
    </div>
    <script>
        var navbar = document.getElementById("navbar");
        window.onscroll = function(){
            if(window.pageYOffset > navbar.offsetTop){
                navbar.classList.add("sticky");
            }
            else{
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script>
        const navToggle = document.querySelector('#navToggle');
        const navl = document.querySelector('#navShow');
        const navIcon = document.querySelectorAll('.navIcon');
        const hamburger = document.querySelector('#hamburger');

        navToggle.addEventListener("click", () => {
            navl.classList.toggle("openNav")
            navIcon.forEach(icon => {
                icon.classList.toggle("hiddenNavIcon");
            })
        });

        window.addEventListener("resize", () => {
            if (document.body.clientWidth > 720) {
                navl.classList.remove("openNav");
                navIcon.forEach(icon => {
                    icon.classList.add("hiddenNavIcon")
                });
                hamburger.classList.remove("hiddenNavIcon");
            }
        });  
    </script>

<script>
    function updateEmpInfo() {
        var params = {
                "Emp_FirstName":document.getElementById("fnameIn").value,
                "Emp_LastName":document.getElementById("lnameIn").value,
                "Emp_Role":document.getElementById("roleIn").value,
            }
        let text = "Update employee info?";
        if (confirm(text) == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/employee?Emp_ID=" + document.getElementById("empIDIn").value);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify(params));
            setTimeout(function(){
                window.location.reload(true);
            }, 400);
        }
    }
</script>

<script>
    function addEmpPhone() {
        var params = {
                "Emp_Phone":document.getElementById("phoneIn").value
            }
        let text = "Add employee phone?";
        if (confirm(text) == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/phone?Emp_ID=" + document.getElementById("empIDIn").value);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify(params));
            setTimeout(function(){
                window.location.reload(true);
            }, 600);
        }
    };

    function deleteEmpPhone() {
        var params = {
                "Emp_Phone":document.getElementById("phoneIn").value
            }
        let text = "Delete employee phone?";
        if (confirm(text) == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", "/phone?Emp_ID=" + document.getElementById("empIDIn").value);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify(params));
            setTimeout(function(){
                window.location.reload(true);
            }, 600);
        }
    };

    function addEmpEmail() {
        var params = {
                "Emp_Email":document.getElementById("emailIn").value
            }
        let text = "Add employee email?";
        if (confirm(text) == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/email?Emp_ID=" + document.getElementById("empIDIn").value);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify(params));
            setTimeout(function(){
                window.location.reload(true);
            }, 600);
        }
    };

    function deleteEmpEmail() {
        var params = {
                "Emp_Email":document.getElementById("emailIn").value
            }
        let text = "Delete employee email?";
        if (confirm(text) == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", "/email?Emp_ID=" + document.getElementById("empIDIn").value);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify(params));
            setTimeout(function(){
                window.location.reload(true);
            }, 600);
        }
    };
</script>

</body>

</html>
