<!--Landing Page-->
<!DOCTYPE html>    
<html>    
<head>    
    <title>Okaidi Auto Sales</title>    
    <link rel="stylesheet" href="../CSS templates/LandingPageStyle.css" />
    <script src="../JS/authenticated.js"></script> 
</head>    
<body>
    <div class="image-box">
        <a href="Homepage.ejs">
            <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
        </a>
    </div>
    <div class="navi">
    <div class="navi-centered">
        <nav id="navbar">
        <div class="nav-menu">
        <div class="nav-text"><h3 class="nav-text-logo">OKAIDI AUTO SALES</h3>
            <div class="nav-toggle" id="navToggle">
                <img class="navIcon" src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconHambMenu.png" alt="hamburger menu" width="25px" id="hamburger">
                <img class="navIcon hiddenNavIcon" src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconClose.png" alt="close hamburger" width="25px">
            </div>
        </div>
        <div class="navList" id="navShow">  
         <ul class="ulForDir">
            <li><a href="Homepage.ejs">Home</a></li>
            <li><a href="Search.ejs">Search</a></li>
            <li><a href="Aboutus.ejs">About Us</a></li>
            <li><a href="ContactUs.ejs">Contact Us</a></li>
            <li><a href="ApplyNow.ejs">Apply Now</a></li>
         </ul>
        </div>
        </div> 
        </nav>
    </div>
</div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
            Find your next car at Okaidi Auto Sales in Sacramento, CA
        </div>
    </div>

    <div class="body-main">
        <div class="block-body-box">
            <div class="block-body">
                <ul class="ulBlock">
                    <li><a href="AdminPage.ejs"><h3>Admin</h3></a></li><br>
                    <li><a href="ChangePassword.ejs"><h3>Change Password</h3></a></li>
                </ul>
                <h4>
                    Employee Information<br>
                </h4>
                <h5>
                    Username: <%= employeeInfo.Emp_Username %> <br>
                    Email: <% if(employeeInfo.Emp_Email == ""){ %>
                            N/A
                        <% } %>
                        <%  if(employeeInfo.Emp_Email != ""){  %> 
                        <%= employeeInfo.Emp_Email %>
                        <% } %> <br>
                    Phone: <% if(employeeInfo.Emp_Phone == ""){ %>
                            N/A
                        <% } %>
                        <%  if(employeeInfo.Emp_Phone != ""){  %> 
                        <%= employeeInfo.Emp_Phone %>
                        <% } %> <br>
                </h5>
            </div>
        </div>

        <div class="quick-create">
            <form action="/inventory" method="POST">
            <input type="text" id="makeInput" class="inputStyle" name="Car_Make" placeholder="Enter Make" required>
            <input type="text" id="modelInput" class="inputStyle" name="Car_Model" placeholder="Enter Model" required>
            <input type="text" id="yearInput" class="inputStyle" name="Car_Year" placeholder="Enter Year" required>
            <input type="text" id="milageInput" class="inputStyle" name="Car_Mileage" placeholder="Enter Mileage" required>
            <input type="text" id="bodyTypeInput" class="inputStyle" name="Car_BodyType" placeholder="Enter Body Type" required>
            <input type="text" id="conditionInput" class="inputStyle" name="Car_Condition" placeholder="Enter Condition" required>
            <input type="text" id="colorInput" class="inputStyle" name="Car_Color" placeholder="Enter Color" required>
            <input type="text" id="priceInput" class="inputStyle" name="Car_Price" placeholder="Enter Price" required>
            <input id="addButton" class="button" type="submit" value="Add New Car"><br><br>
            </form>
        </div>

        <div class="table-wrapper">
            <div class="table-title"> TABLE OF INVENTORY ITEMS</div>
            <table id="inventoryTable">
            <thead>
            <tr>
                <th>STOCK NUMBER</th>
                <th>MAKE</th>
                <th>MODEL</th>
                <th>YEAR</th>
                <th>COLOR</th>
                <th>PRICE</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <% inventoryItems.forEach(function(vih){%>
                    <tr>
                        <td>
                            <%= vih.Car_Stock_Num %>
                        </td>
                        <td>
                            <%= vih.Car_Make %>
                        </td>
                        <td>
                            <%= vih.Car_Model %>
                        </td>
                        <td>
                            <%= vih.Car_Year %>
                        </td>
                        <td>
                            <%= vih.Car_Color %>
                        </td>
                        <td>
                            <%= vih.Car_Price %>
                        </td>
                        <td>
                            <form action="/EditInventoryPage.ejs" method="GET"> 
                                <input type="hidden" id="carStockNum" name="Car_Stock_Num" value="<%= vih.Car_Stock_Num %>" required>
                                <input class="button1" type="submit" value="Edit">
                            </form>
                        <button class="button2" onclick="deleteItem(<%= vih.Car_Stock_Num %>)">Delete</button></td>
                    </tr>
                    <% }); %>
            </tbody>
            </table>
        </div>
    </div>

    <div class="footer">
        <div class="foot-flex">
        <div class="footer-section">
            <div class="footer-facebook-box">
                <a href="https://www.facebook.com/OkaidiAutoSalesLLC">
                    <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/facebook_icon.png" width="40px" height="40px">
                </a>
            </div>
            <br><font size=+2>1941 El Camino Ave,</font>
            <br> SACRAMENTO, CA 95815
            <br> 916-750-9099
        </div>
        <div class="footer-section-img"><img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" 
            alt="logo">
        </div>
        <div class="footer-section-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.741311338998!2d-121.40302578486073!3d38.60882397961626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada2b44205a41%3A0x6140aa8f54eec0e9!2sOKAIDI%20AUTO%20SALES!5e0!3m2!1sen!2sus!4v1651356145025!5m2!1sen!2sus" 
             style="border:red;border-width:1pt 1pt 1pt 1pt;border-style: solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div> 
        </div>
        <hr class="footer-hr">
        <div class="footer-end">
            <div class="bottom">
                <a href="LandingPage.ejs"><u>Dealer Login</u></a>
                <br>
            </div>
        </div>
    </div>
        <script>
            var navbar = document.getElementById("navbar");
            window.onscroll = function(){
                if(window.pageYOffset > navbar.offsetTop){
                    navbar.classList.add("sticky");
                }
                else{
                    navbar.classList.remove("sticky");
                }
            }
        </script>
        <script>
            const navToggle = document.querySelector('#navToggle');
            const navl = document.querySelector('#navShow');
            const navIcon = document.querySelectorAll('.navIcon');
            const hamburger = document.querySelector('#hamburger');
    
            navToggle.addEventListener("click", () => {
                navl.classList.toggle("openNav")
                navIcon.forEach(icon => {
                    icon.classList.toggle("hiddenNavIcon");
                })
            });
                
            window.addEventListener("resize", () => {
                if(document.body.clientWidth > 720) {
                    navl.classList.remove("openNav");
                    navIcon.forEach(icon => {
                        icon.classList.add("hiddenNavIcon")
                    });
                    hamburger.classList.remove("hiddenNavIcon");
                }
            });  
        </script>
        
        <script>
            let arrHead = new Array();	// array for header.
            arrHead = ['Stock Number', 'Make', 'Model', 'Year','Color','Price',''];
            function addNewRow() {
                let table = document.getElementById('inventoryTable');
                let rowCnt = table.rows.length;   // table row count.
                let newRow = table.insertRow(rowCnt); // the table row.

                var make = document.getElementById('makeInput').value;
                var model = document.getElementById('modelInput').value;
                var year = document.getElementById('yearInput').value;
                var color = document.getElementById('colorInput').value;
                var price = document.getElementById('priceInput').value;

                var cell0 = newRow.insertCell(0);
                var cell1 = newRow.insertCell(1);
                var cell2 = newRow.insertCell(2);
                var cell3 = newRow.insertCell(3);
                var cell4 = newRow.insertCell(4);
                var cell5 = newRow.insertCell(5);
            
                cell0.innerHTML = '';
                cell1.innerHTML = make;
                cell2.innerHTML = model;
                cell3.innerHTML = year;
                cell4.innerHTML = color;
                cell5.innerHTML = price;

                let td = document.createElement('td');
                td = newRow.insertCell(6);
                    // add a button in every new row in the first column.
                    let button1 = document.createElement('input');
                    let button2 = document.createElement('input');
                    // set input attributes.
                    button1.setAttribute('type', 'button');
                    button1.setAttribute('value', 'Edit');
                    button2.setAttribute('type', 'button');
                    button2.setAttribute('value', 'Delete');
                    button1.className = 'button1';
                    button2.className = 'button2';
                    // add button's 'onclick' event.
                    button1.setAttribute('onclick', '');
                    button2.setAttribute('onclick', 'removeRow(this)');
                    td.appendChild(button1);
                    td.appendChild(button2);
            }
            let removeRow = (oButton) => {
                let empTab = document.getElementById('inventoryTable');
                empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // button -> td -> tr.
            }

        </script>

        <script>
        function deleteItem(Car_Stock_Num) {
            let text = "Delete this item?";
            if (confirm(text) == true) {
                var xhttp = new XMLHttpRequest();
                xhttp.open("DELETE", "/inventory?Car_Stock_Num=" + Car_Stock_Num);
                
                xhttp.send();
                setTimeout(function(){
                    window.location.reload(true);
                }, 650);
            }
        }
        </script>
</body>    
</html>
