<!--Search page-->
<!DOCTYPE html>    
<html>    
<head>    
    <title>Okaidi Auto Sales</title>
    <link rel="stylesheet" href="../CSS templates/SearchStyle.css">
    <script src="../JS/authenticated.js"></script>

</head>    
<body>
    <div class="image-box">
        <a href="Homepage.ejs">
            <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
        </a>
    </div>
    <div class="navi">
        <div class="navi-centered">
            <nav id="navbar">
                <div class="nav-menu">
                    <div class="nav-text">
                        <h3 class="nav-text-logo">OKAIDI AUTO SALES</h3>
                        <div class="nav-toggle" id="navToggle">
                            <img class="navIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconHambMenu.png"
                                alt="hamburger menu" width="25px" id="hamburger">
                            <img class="navIcon hiddenNavIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconClose.png"
                                alt="close hamburger" width="25px">
                        </div>
                    </div>
                    <div class="navList" id="navShow">
                        <ul class="ulForDir">
                            <li><a href="Homepage.ejs">Home</a></li>
                            <li class="navi-li-here"><a href="Search.ejs">Search</a></li>
                            <li><a href="Aboutus.ejs">About Us</a></li>
                            <li><a href="ContactUs.ejs">Contact Us</a></li>
                            <li><a href="ApplyNow.ejs">Apply Now</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
            Find your next car at Okaidi Auto Sales in Sacramento, CA
        </div>
    </div>
    
    <% var arrMake=[]; arrMake.push('All') %>
    <% var arrModel=[]; arrModel.push('All') %>
    <% var arrYear=[]; arrYear.push('All') %>
    <% var arrCondition=[]; arrCondition.push('All') %>
    <% var arrBody=[]; arrBody.push('All') %>
    <% var arrColor=[]; arrColor.push('All') %>
    <% var arrPrice=["All", "10000", "20000", "30000", "40000", "50000", "60000"]; %>
    <% var arrMileage=["All", "25000" , "50000" , "75000" , "100000"]; %>

    <% var maxPrice = 0; %>
    <% var maxMileage = 0; %>

    <% inventoryItems.forEach(function(vih){%>
        
        <% foundMake = 0; %>
        <% foundModel=0; %>
        <% foundYear=0; %>
        <% foundCondition=0; %>
        <% foundBody=0; %>
        <% foundColor=0; %>

        <% tempMake=vih.Car_Make %>
        <% tempModel=vih.Car_Model %>
        <% tempYear=vih.Car_Year %>
        <% tempCondition=vih.Car_Condition %>
        <% tempBody=vih.Car_BodyType %>
        <% tempColor=vih.Car_Color %>

        <% for(let y=0; y < arrMake.length; y++){ %>
            <% if(arrMake[y] == tempMake){foundMake = 1; break;} %>
        <% } if(foundMake == 0){arrMake.push(tempMake);} %>

        <% for(let y=0; y < arrModel.length; y++){ %>
            <% if(arrModel[y]==tempModel){foundModel=1; break;} %>
        <% } if(foundModel==0){arrModel.push(tempModel);} %>

        <% for(let y=0; y < arrYear.length; y++){ %>
            <% if(arrYear[y]==tempYear){foundYear=1; break;} %>
        <% } if(foundYear==0){arrYear.push(tempYear);} %>

        <% for(let y=0; y < arrCondition.length; y++){ %>
            <% if(arrCondition[y]==tempCondition){foundCondition=1; break;} %>
        <% } if(foundCondition==0){arrCondition.push(tempCondition);} %>

        <% for(let y=0; y < arrBody.length; y++){ %>
            <% if(arrBody[y]==tempBody){foundBody=1; break;} %>
        <% } if(foundBody==0){arrBody.push(tempBody);} %>

        <% for(let y=0; y < arrColor.length; y++){ %>
            <% if(arrColor[y]==tempColor){foundColor=1; break;} %>
        <% } if(foundColor==0){arrColor.push(tempColor);} %>

        <% if(maxPrice < vih.Car_Price){maxPrice = vih.Car_Price;} %>

        <% if(maxMileage < vih.Car_Mileage){maxMileage=vih.Car_Mileage;} %>

    <% }); %>

    <% //for(let y=1; y< arrPrice.length; y++){ %>
        <% //if(maxPrice < arrPrice[y]){arrPrice.splice(y,1);}} %>

    <% //for(let y=1; y< arrMileage.length; y++){ %>
        <% //if(maxMileage < arrMileage[y]){arrMileage.splice(y,1);}} %>

    <% //for(let y=0; y< arrPrice.length; y++){console.log(arrPrice[y]);} %>
    <!-- Search Filter section -->

    <div id="filters">
        <div class="filter-title"><p>Filters</p></div>
        
        <form action="/Search.ejs" method="get">
            <% //console.log(filtersParams) %>

            <% if((filtersParams[0] != "All") && (filtersParams[0] != undefined)){ %>
                <label for="fname" class="filterInside">Make:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Make" id="Make" onchange="this.form.submit()">
                    <option value=<%= filtersParams[0] %>><%= filtersParams[0] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="fname" class="filterInside">Make:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Make" id="Make"  onchange="this.form.submit()">

                <option value=<%=arrMake[0] %>><%= arrMake[0] %></option>
                <% if(arrMake.length> 1){arrMake.shift(); arrMake.sort();} %>
                <% for(let y=0; y < arrMake.length; y++){ %>
                    <option value="<%= arrMake[y] %>"> <%= arrMake[y] %></option> 
                <%} %>
                </select>
                </div>
            <% } %>

            <% if((filtersParams[1] !="All" ) && (filtersParams[1] !=undefined)){ %>
                <label for="Model" class="filterInside">Model:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Model" onchange="this.form.submit()">
                    <option value=<%=filtersParams[1] %>><%= filtersParams[1] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
            <label for="Model" class="filterInside">Model:</label>
            <div class="custom-select" style="width: 180px;">
            <select name="Car_Model" onchange="this.form.submit()">

            <option value=<%=arrModel[0] %>><%= arrModel[0] %></option>
            <% if(arrModel.length > 1){arrModel.shift(); arrModel.sort();} %>
                <% for(let y=0; y < arrModel.length; y++){ %>
                    <option value="<%= arrModel[y] %>"><%= arrModel[y] %></option>
                <% } %>
                </select>
                </div>
            <% } %>

            <% if((filtersParams[3] !="All" ) && (filtersParams[3] !=undefined)){ %>
                <label for="price" class="filterInside">Max Price:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Price" onchange="this.form.submit()">
                    <option value=<%=filtersParams[3] %>><%= filtersParams[3] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="price" class="filterInside">Max Price:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Price" id="Price" onchange="this.form.submit()">
                    <% for(let y=0; y < arrPrice.length; y++){ %>
                        <option value="<%=arrPrice[y] %>"><%= arrPrice[y] %></option>
                    <% } %>
                </select>
                </div>
            <% } %>

            <% if((filtersParams[2] !="All" ) && (filtersParams[2] !=undefined)){ %>
                <label for="Year" class="filterInside">Year:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Year" onchange="this.form.submit()">
                    <option value=<%=filtersParams[2] %>><%= filtersParams[2] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="Year" class="filterInside">Year:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Year" onchange="this.form.submit()">

                <option value=<%=arrYear[0] %>><%= arrYear[0] %></option>
                <% if(arrYear.length> 1){arrYear.shift(); arrYear.sort(function(a, b){return a-b});} %>
                <% for(let y=0; y < arrYear.length; y++){ %>
                    <option value="<%=arrYear[y] %>"> <%= arrYear[y] %></option>
                <%} %>
                </select>
                </div>
            <% } %>
            
            <% if((filtersParams[5] !="All" ) && (filtersParams[5] !=undefined)){ %>
                <label for="bodyStyle" class="filterInside">Body Style:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_BodyType" onchange="this.form.submit()">
                    <option value=<%=filtersParams[5] %>><%= filtersParams[5] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="bodyStyle" class="filterInside">Body Style:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_BodyType" onchange="this.form.submit()">

                <option value=<%=arrBody[0] %>><%= arrBody[0] %></option>
                <% if(arrBody.length> 1){arrBody.shift(); arrBody.sort();} %>
                <% for(let y=0; y < arrBody.length; y++){ %>
                    <option value="<%=arrBody[y] %>"><%= arrBody[y] %></option>
                <% } %>
                </select>
                </div>
            <% } %>
            
            <% if((filtersParams[4] !="All" ) && (filtersParams[4] !=undefined)){ %>
                <label for="carMileage" class="filterInside">Max Mileage:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Mileage" onchange="this.form.submit()">
                    <option value=<%=filtersParams[4] %>><%= filtersParams[4] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="carMileage" class="filterInside">Max Mileage:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Mileage" id="" onchange="this.form.submit()">
                    <% for(let y=0; y < arrMileage.length; y++){ %>
                        <option value="<%=arrMileage[y] %>"><%= arrMileage[y] %></option>
                    <% } %>
                    </select>
                    </div>
            <% } %>
            
            <% if((filtersParams[6] !="All" ) && (filtersParams[6] !=undefined)){ %>
                <label for="condition" class="filterInside">Condition:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Condition" onchange="this.form.submit()">
                    <option value=<%=filtersParams[6] %>><%= filtersParams[6] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="condition" class="filterInside">Condition:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Condition" id="Condition" onchange="this.form.submit()">

                <% for(let y=0; y < arrCondition.length; y++){ %>
                    <option value="<%=arrCondition[y] %>"> <%= arrCondition[y] %></option>
                <%} %>
                </select>
                </div>
            <% } %>

            <% if((filtersParams[7] !="All" ) && (filtersParams[7] !=undefined)){ %>
                <label for="Color" class="filterInside">Color:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Color" onchange="this.form.submit()">
                    <option value=<%=filtersParams[7] %>><%= filtersParams[7] %></option>
                    <option value="All">All</option>
                </select>
                </div>
            <% }else { %>
                <label for="Color" class="filterInside">Color:</label>
                <div class="custom-select" style="width: 180px;">
                <select name="Car_Color" id="Color" onchange="this.form.submit()">

                <option value=<%=arrColor[0] %>><%= arrColor[0] %></option>
                <% if(arrColor.length> 1){arrColor.shift(); arrColor.sort();} %>
                <% for(let y=0; y < arrColor.length; y++){ %>
                    <option value="<%=arrColor[y] %>"><%= arrColor[y] %></option>
                <% } %>
                </select>
                </div>
            <% } %>
            <br>
        </form>
        <div class="filter-button-box"><a href="Search.ejs"><button class="filter-button">Clear Filters</button></a></div> 
    </div>

    <!--    Car display     -->
    <div class="car-container">
        <div class="car-table" id="carTable">
            <% inventoryItems.forEach(function(vih){%>
            <div class="car-card">
                <div class="car-item">
                    <div class="car-img">
                        <% foundImg=0; %>
                            <% for(let y=0; y < imageItems.length; y++) {%>
                                <% if(vih.Car_Stock_Num==imageItems[y][0].Car_Stock_Num){ %>
                                    <img src=<%=imageItems[y][0].Car_Image %> alt="car img">
                                    <% foundImg=1; break;} }%>
                        <% if(foundImg==0){ %>
                            <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img">
                        <% } %>
                    </div>
                    <div class="car-title">
                        <div class="car-year"><%= vih.Car_Year %></div>
                        <div class="car-make"><%= vih.Car_Make %></div>
                        <div class="car-model"><%= vih.Car_Model %></div>
                    </div>
                    <div class="car-text-box">
                        <div class="car-stock-mil">
                            <div class="car-stock">
                                <p class="stock-icon">STOCK: </p>
                                <div class="car-stock-t"><%= vih.Car_Stock_Num %></div>
                            </div>
                            <div class="car-mil">
                                <div class="car-mil-t"><%= vih.Car_Mileage %></div>
                                <p class="mil-icon">miles</p>
                            </div>
                        </div>
                        <div class="car-price">
                            <h3 class="dollar-icon">$</h3>
                            <div class="car-price-t"><%= vih.Car_Price %></div>
                        </div>
                        <div class=".car-color-body-cond">
                            <h4 class="color-icon">Color:</h4>
                            <div class="car-color"><%= vih.Car_Color %></div>

                            <h4 class="body-icon">Body:</h4>
                            <div class="car-body"><%= vih.Car_BodyType %></div>
                            
                            <h4 class="cond-icon">Condition:</h4>
                            <div class="car-cond"><%= vih.Car_Condition %></div>
                        </div>
                    </div>
                </div>
                <div class="button-detail-submit">
                    <form action="/InventoryPage.ejs" method="GET"> 
                        <input type="hidden" id="carStockNum" name="Car_Stock_Num" value="<%= vih.Car_Stock_Num %>">
                        <input class="detail-btn" type="submit" value="Details">
                    </form>

                    <form action="/ApplyNow.ejs" method="GET"> 
                        <input type="hidden" id="carStockNum" name="Car_Stock_Num" value="<%= vih.Car_Stock_Num %>">
                        <input class="submit-btn" type="submit" value="Apply">
                    </form>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <div class="footer">
        <div class="foot-flex">
        <div class="footer-section">
            <div class="footer-facebook-box">
                <a href="https://www.facebook.com/OkaidiAutoSalesLLC">
                    <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/facebook_icon.png" width="40px" height="40px" style="border-radius: 2px;">
                </a>
            </div>
            <br><font size=+2>1941 El Camino Ave,</font>
            <br> SACRAMENTO, CA 95815
            <br> 916-750-9099
        </div>
        <div class="footer-section-img"><img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" 
            alt="logo">
        </div>
        <div class="footer-section-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.741311338998!2d-121.40302578486073!3d38.60882397961626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada2b44205a41%3A0x6140aa8f54eec0e9!2sOKAIDI%20AUTO%20SALES!5e0!3m2!1sen!2sus!4v1651356145025!5m2!1sen!2sus" 
             style="border:red;border-width:1pt 1pt 1pt 1pt;border-style: solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div> 
	    </div>
        <hr class="footer-hr">
        <div class="footer-end">
            <div class="bottom">
                <% if( isLoggedIn ){ %>
                    <a href="LandingPage.ejs"><u>Dealer Login</u></a>
                    <% }else{ %>
                    <a href="Login.ejs"><u>Dealer Login</u></a>
                    <% } %>
                <br>
            </div>
        </div>
    </div>

    
    <script>
        var navbar = document.getElementById("navbar");
        window.onscroll = function () {
            if (window.pageYOffset > navbar.offsetTop) {
                navbar.classList.add("sticky");
            }
            else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script>
        const navToggle = document.querySelector('#navToggle');
        const navl = document.querySelector('#navShow');
        const navIcon = document.querySelectorAll('.navIcon');
        const hamburger = document.querySelector('#hamburger');

        navToggle.addEventListener("click", () => {
            navl.classList.toggle("openNav")
            navIcon.forEach(icon => {
                icon.classList.toggle("hiddenNavIcon");
            })
        });

        window.addEventListener("resize", () => {
            if (document.body.clientWidth > 720) {
                navl.classList.remove("openNav");
                navIcon.forEach(icon => {
                    icon.classList.add("hiddenNavIcon")
                });
                hamburger.classList.remove("hiddenNavIcon");
            }
        });  
    </script>
    
</body>    
</html>  
